# SPDX-FileCopyrightText: 2024 University of Rochester
#
# SPDX-License-Identifier: MIT

# Ignore node_modules directory
node_modules/

# Ignore build output directories
public/dist/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore editor specific files
.vscode/
.idea/

# Ignore temporary files
*.tmp
*.temp
*.bak

